<div id="ib-register-page" class="ib-success-page">
    <div class="m-stack m-stack--ver m-stack--general">
        <div id="ibregisterFormBox" class="m-stack__item">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__body">
                    <div class="m-section">
                        <p class="m-section__sub text-center logo"><img src="<%= assetsUrl %>images/logo.png" width="100%" /></p>

                        
                        <p class="lead m--margin-bottom-16 text-center text-info"><i class="la la-check-circle"></i></p>
                        <p class="m-section__sub m--margin-bottom-64 text-center text-info">Đăng ký introducing brokers thành công!</p>
                        <p class="m-section__sub m--margin-bottom-64 text-center">Chào mừng bạn đến với TraderViet. Chúng tôi đã gửi email thông tin chi tiết về tài khoản. Xin vui lòng  kiểm tra email và làm theo hướng dẫn.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="ibregisterrightpanel" class="m-stack__item m-stack__item--center m-stack__item--fluid">
            <img src="<%= assetsUrl %>images/bg_ib.png" />
        </div>
    </div>
</div>