<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Thêm mới tài khoản</h3>           
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline" style="height:40px;">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="<%= config.rooturl_module %>" class="m-nav__link m-nav__link--icon">
                           <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="<%= config.rooturl_module + '/' + controller %>" class="m-nav__link">
                            <span class="m-nav__link-text">Tài khoản</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link">
                            <span class="m-nav__link-text">Thêm mới</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <form class="m-form m-form--fit m-form--label-align-right" action="<%= config.rooturl_module + '/' + controller %>/add" id="userAddForm">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-10">
                            <h3 class="m-form__section">1. Thông tin thành viên</h3>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="fullname">Họ và tên</label>
                            <input class="form-control m-input" type="text" name="fullname" value="">
                        </div>
                        <div class="col-5 m-form__group-sub">
                            <label for="email">Email</label>
                            <input class="form-control m-input" type="text" name="email" value="">
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="password">Mật khẩu</label>
                            <input class="form-control m-input" type="password" name="password" id="password" value="">
                        </div>
                        <div class="col-5 m-form__group-sub">
                            <label for="password2">Xác nhận mật khẩu</label>
                            <input class="form-control m-input" type="password" name="password2" value="">
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="phone">Điện thoại</label>
                            <input class="form-control m-input" type="text" name="phone" value="">
                        </div>
                        <div class="col-5 m-form__group-sub">
                            <label for="address">Địa chỉ</label>
                            <input class="form-control m-input" type="text" name="address" value="">
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="birthday">Ngày sinh</label>
                            <div class="m-input-icon m-input-icon--right date">
                                <input type="text" class="form-control m-input inputdatepicker" name="birthday" readonly value="">
                                <div class="m-input-icon__icon m-input-icon__icon--right">
                                    <span><i class="la la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="gender">Giới tính</label>
                            <select class="form-control m-ipnut" name="gender">
                                <option value="1">Nam</option>
                                <option value="3">Nữ</option>
                            </select>
                        </div>
                        <div class="col-5 m-form__group-sub">
                            <label for="group">Nhóm</label>
                            <select class="form-control m-ipnut" name="group">
                                <option value="1">Administrator</option>
                                <option value="3">Editor</option>
                                <option value="5">Member</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-5 m-form__group-sub">
                            <label for="status">Trạng thái</label>
                            <select class="form-control m-ipnut" name="status">
                                <option value="1">Kích hoạt</option>
                                <option value="3">Không kích hoạt</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- END OF PORTLET BODY -->

                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-10">
                                <button class="btn btn-accent m-btn m-btn--air m-btn--custom btn-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>